@import "tailwindcss";

:root {
  --background: #f2f2f2;
  --foreground: #000000;

  /* Colores del Tribunal Supremo Judicial de Chihuahua */
  --tsj-primary: #c4b9db;
  --tsj-primary-solid: #c4b9db;
  --tsj-secondary: #e3d7ff;
  --tsj-bg: #f2f2f2;
  --tsj-yellow: #cad800;
  --tsj-black: #000000;
  --tsj-white: #ffffff;
  --tsj-title: #662d91;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-tsj-primary: var(--tsj-primary);
  --color-tsj-secondary: var(--tsj-secondary);
  --color-tsj-yellow: var(--tsj-yellow);
  --color-tsj-title: var(--tsj-title);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
